pandas~=1.1.0
jsonschema~=3.2.0
setuptools~=49.6.0
draco~=0.0.4
urllib3~=1.25.9
networkx~=2.4
clyngor~=0.3.31
pyyaml~=5.3.1
addict~=2.2.1
dziban~=0.0.1
shapely~=1.7.1
altair~=4.1.0
vega_datasets~=0.8.0
numpy~=1.19.1
dictdiffer~=0.8.0
nltk~=3.4.4